@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    @apply flex justify-around items-center py-5 bg-[#950b0b] text-white;
  }
  .logo {
    @apply font-bold text-lg hover:cursor-pointer;
  }
}

/* free palestine */
.triangle-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 100px solid #c92127;
  border-bottom: 30px solid transparent;
}
/* free palestine */
