<div class="cart">
  <section class="cart-header" [routerLink]="['/details', product.id]">
    <img [src]="product.image" [alt]="product.title" />
    <h5>{{ product.title }}</h5>
  </section>
  <section class="cart-body" [routerLink]="['/details', product.id]">
    <p>{{ product.description }}</p>
  </section>
  <section class="cart-footer">
    <button type="button" *ngIf="!isAddButton2" (click)="isAddButton2 = true">
      Add cart
    </button>
    <div style="display: flex" *ngIf="isAddButton2">
      <input type="number" style="width: 50%" [(ngModel)]="amount" min="1" />
      <button type="button" (click)="add(); isAddButton2 = false">add</button>
    </div>
    <span>{{ product.price }}</span>
  </section>
</div>
