.cart {
  border: 1px solid black;
  width: 300px;
  height: 400px;
}
.cart-header {
  height: 50%;
  display: flex;
  flex-flow: column;
}
.cart-header img {
  max-width: 100%;
  height: 70%;
  border: 1px solid gray;
  object-fit: contain;
}
.cart-header h5 {
  background-color: rgb(224, 224, 224);
  margin: 0;
  height: 30%;
}
.cart-body {
  height: 30%;
  overflow: auto;
}
.cart-footer {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
